.count{
    text-align: center;
}
button {
    all: unset;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color : green;
    padding: 4px 10px;

}
button:hover {
    transform: translateY(-5px);
    transition: 1s;
}